<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (11.2)</string>
	<string>M12.0-7033.0.134-2</string>
	<string>G-r1200-12A137</string>
	<string>M12.1-7034.0.86-2</string>
	<string>M12.2.1-7035.0.161-2</string>
	<string>G-r1220-12C162</string>
	<string>G-r1300-13A146</string>
</array>
</plist>
