<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>HeptaSlab-Bold.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
	</array>
</dict>
</plist>
